{% extends 'base.html' %}

{% block title %}
    <title>change</title>
{% endblock title %}

{% block operation %}
    <h2>编辑书籍</h2>
{% endblock operation %}

{% block con %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="'form-group">
            <label for="title">书籍名称</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ book_obj.title }}">
        </div>

        <div class="'form-group">
            <label for="price">价格</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ book_obj.price }}">
        </div>

        <div class="'form-group">
            <label for="pub-date">出版日期</label>
            <input type="text" class="form-control" id="pub-date" name="pub-date" value="{{ book_obj.pub_date|date:'Y-m-d' }}">
        </div>

        <div class="'form-group">
            <label for="publish">出版社</label>
            <input type="text" class="form-control" id="publish" name="publish" value="{{ book_obj.publish }}">
        </div>

        <button type="submit" class="btn btn-success pull-right">提交</button>

    </form>
    <p style="color: red;">{{ ret }}</p>
{% endblock con %}